sudo: required
dist: trusty
language: node_js
node_js:
- '9.4'
branches:
  only:
  - master
cache:
  directories:
  - "$HOME/.npm"
  - node_modules

before_install:
  - npm i -g npm

install:
  - npm ci

jobs:
  include:
    - stage: "Test"
      name: "Lint"
      script:
        - npm run lint
    - name: "Unit Tests"
      script:
        - npm run test
    - stage: "Deploy"
      provider: script
      skip_cleanup: true
      script:
      - npm run build && npx semantic-release

